@import "src/App.scss";

.bill-box {
    text-align: start;
    height: 60px;
    align-items: center;
    border-top: 1px solid $zeta;
}

.bill-box-quantities, .bill-box-price{
    text-align: center;
}
.bill-box-delete{
    margin: auto;
    width: auto;
    height: 30px;
}

